# Pythonプログラミング入門 第2回
複数のデータ要素をまとめて取り扱うリストとタプルについて説明します

参考

- https://docs.python.org/ja/3/tutorial/introduction.html#lists
- https://docs.python.org/ja/3/tutorial/datastructures.html#tuples-and-sequences

# リスト

文字列を構成する要素は文字でしたが、**リスト**（または、**配列**）では構成する要素としてあらゆるデータを指定できます。

リストを作成するには、リストを構成する要素をコンマで区切り全体をかぎ括弧, `[` および `]`, でくくります。次の例は数を構成要素とするリストを作成しています。

In [1]:
ln = [0, 10, 20, 30, 40, 50]
ln

[0, 10, 20, 30, 40, 50]

In [2]:
type(ln)

list

次に文字列を構成要素とするリストを作成してみます。

In [3]:
ls = ['a', 'b', 'c']
ls

['a', 'b', 'c']

リストは複数の種類のデータを取り扱うこともできます。

In [4]:
ls = [10, 'a', 20, 'b', 30]
ls

[10, 'a', 20, 'b', 30]

次のように、何も要素を格納していない**空のリスト**（**空リスト**）を作成することもできます。空のリストは使い方の例として、後述する「`append`」の項を参照して下さい。

In [5]:
ls = []
print(ls)

[]

## リストとインデックス
文字列の場合と同様、インデックスを指定することによりリストを構成する要素を個々に取得することができます。

リストの x 番目の要素を取得するには次のようにします。インデックスは 0 から始まることに注意してください。

---
```Python
リスト[x-1]
```
---

In [6]:
ls = ['a', 'b', 'c']
ls[1]

'b'

文字列の場合とは異なり、リストの要素は代入によって変更することができます。

In [7]:
ls = ['a', 'b', 'c']
ls[1] = 'hello'
ls

['a', 'hello', 'c']

スライスを用いた代入も可能です。

In [8]:
ls = ['a', 'b', 'c']
ls[1:3] = ['x', 'y', 'z', 'w']
ls

['a', 'x', 'y', 'z', 'w']

## 多重代入
**多重代入**では、左辺に複数の変数などを指定してリスト内の全ての要素を一度の操作で代入することができます。

In [9]:
ln = [0, 10, 20, 30, 40]
[a, b, c, d, e] = ln
b

10

以下の様にしても同じ結果を得られます。

In [10]:
a, b, c, d, e = ln
b

10

実は、多重代入は文字列においても実行可能です。

In [11]:
a, b, c, d, e = 'hello'
d

'l'

## **多重リスト**
リストの要素としてリストを指定することもできます。次は二重リストの例です。

In [12]:
lns = [[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]

多重リストでは複数のインデックスによって要素を指定します。  
前の例で外側の `[]` で示されるリストの 2 番目の要素のリスト、すなわち `[10, 20, 30]`、の最初の要素は次のように指定します。  (インデックスは ***0*** から開始されることを思い出してください。)

In [13]:
lns[1][0]

10

3 番目の（内側の）リストを取り出したいときは、次のように指定します。

In [14]:
lns[2]

['a', 'b', 'c']

次のようにリストを要素として含むリストを作成することも可能です。

In [15]:
lns2 = [lns, ["x", 1, [11, 12, 13]], ["y", [100, 120, 140]] ]
print(lns2[0])
print(lns2[1][2])

[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']]
[11, 12, 13]

## リストの操作
文字列において用いた関数・演算子などリストに対しても用いることができます。

In [16]:
ln = [0, 10, 20, 30, 40, 50]
len(ln) # リストの長さ（大きさ）

6

In [17]:
ln[2:4] # スライス

[20, 30]

In [18]:
10 in ln # リストに所属する特定の要素の有無

True

リストに対する `in`演算子は、論理演算`or` を簡潔に記述するのに用いることもできます。 例えば、

---
```Python
a1 == 1 or a1 == 3 or a1 == 7:
```
---

は

---
```Python
a1 in [1, 3, 7]:
```
---

と同じ結果を得られます。 `or` の数が多くなる場合は、`in` を用いた方がより読みやすいプログラムを書くことができます。

In [19]:
a1 = 1
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 3
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])
a1 = 5
print(a1 == 1 or a1 == 3 or a1 == 7, a1 in [1, 3, 7])

True True
True True
False False

In [20]:
ln.index(20) # 指定した要素のリスト内のインデックス #findは使えない

2

In [21]:
ln.count(20) # 指定した要素のリスト内の数

1

In [22]:
ln + ['a', 'b', 'c'] # リストの連結

[0, 10, 20, 30, 40, 50, 'a', 'b', 'c']

In [23]:
ln * 3 # リストの積

[0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50, 0, 10, 20, 30, 40, 50]

要素がすべて 0 のリストを作る最も簡単な方法は、この `*` 演算子を使う方法です。

In [24]:
ln0 = [0] * 10
ln0

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

文字列にはない関数やメソッドも用意されています。以下では、幾つか例を挙げます。

### メソッド **`sort`**
`sort` はリスト内の要素を昇順に並べ替えます。

---
```Python
リスト.sort()
```
---

In [25]:
ln = [30, 50, 10, 20, 40, 60]
ln.sort()
ln

[10, 20, 30, 40, 50, 60]

In [26]:
ln = ['e', 'd', 'a', 'c', 'f', 'b']
ln.sort()
ln

['a', 'b', 'c', 'd', 'e', 'f']

`sort(reverse = True)` とすることで要素を降順に並べ替えることもできます。

In [27]:
ln = [30, 50, 10, 20, 40, 60]
ln.sort(reverse = True)
ln

[60, 50, 40, 30, 20, 10]

また、並べ替えを行う組み込み関数も用意されています。

### メソッド **sorted**

この関数ではリストを引数に取って、そのリスト内の要素を昇順に並べ替えます。

---
```Python
sorted(リスト)
```
---

In [28]:
ln = [30, 50, 10, 20, 40, 60]
sorted(ln)

[10, 20, 30, 40, 50, 60]

In [29]:
ln = ['e', 'd', 'a', 'c', 'f', 'b']
sorted(ln)

['a', 'b', 'c', 'd', 'e', 'f']

`sorted` においても、 `reverse = True` と記述することで要素を降順に並べ替えることができます。

In [30]:
ln = [30, 50, 10, 20, 40, 60]
sorted(ln, reverse=True)

[60, 50, 40, 30, 20, 10]

ついでですが、多重リストをソートするとどの様な結果が得られるか確かめてみて下さい。

In [31]:
ln = [[20, 5], [10, 30], [40, 20], [30, 10]]
ln.sort()
ln

[[10, 30], [20, 5], [30, 10], [40, 20]]

## 破壊的（インプレース）な操作と非破壊的な生成

上記では、sortメソッドとsorted関数を紹介しましたが、両者の使い方が異なることに気が付きましたか？

具体的には、sortメソッドは元のリストの値が変更されています。一方、sorted関数は元のリストの値はそのままになっています。もう一度確認してみましょう。

In [32]:
ln = [30, 50, 10, 20, 40, 60]
ln.sort()
print("sortメソッドの実行後の元のリスト:", ln)
ln = [30, 50, 10, 20, 40, 60]
sorted(ln)
print("sorted関数の実行後の元のリスト:", ln)

sortメソッドの実行後の元のリスト: [10, 20, 30, 40, 50, 60]
sorted関数の実行後の元のリスト: [30, 50, 10, 20, 40, 60]

この様に、sortメソッドは元のリストの値を書き換えてしまいます。この様な操作を **破壊的** あるいは **インプレース** (**In place**)であるといいます。  
一方、sorted関数は新しいリストを生成し元のリストを破壊しません、このような操作は **非破壊的** であるといいます。

sorted関数を用いた場合、その返り値（並べ替えの結果）は新しい変数に代入して使うことができますが、sortメソッドはリストを返さないためその様な使い方が出来ないことに注意して下さい。

In [33]:
ln = [30, 50, 10, 20, 40, 60]
ln2 = sorted(ln)
print("sorted関数の返り値:", ln2)

ln = [30, 50, 10, 20, 40, 60]
ln2 = ln.sort()
print("sortメソッドの返り値:", ln2)

sorted関数の返り値: [10, 20, 30, 40, 50, 60]
sortメソッドの返り値: None

## リストの操作（2）

以下では、幾つかのメソッドや関数の例を挙げます。以下の例中において行う操作は破壊的であることに注意して下さい。

### **append**

リストの最後尾に指定した要素を付け加えます。<br>

---
```Python
リスト.append(追加する要素) 
```
---

In [34]:
ln = [10, 20, 30, 40, 50]
ln.append(100)
ln

[10, 20, 30, 40, 50, 100]

`append` は、上述した空のリストと組み合わせて、あるリストから特定の条件を満たす要素のみからなる新たなリストを構成する、という様な状況でしばしば用いられます。例えば、リスト `ln1 = [10, -10, 20, 30, -20, 40, -30]` から 0 より大きい要素のみを抜き出したリスト `ln2` は次の様に構成することができます。

In [35]:
ln1 = [10, -10, 20, 30, -20, 40, -30] 
ln2 = [] # 空のリストを作成する
ln2.append(ln1[0])
ln2.append(ln1[2])
ln2.append(ln1[3])
ln2.append(ln1[5])
print(ln2)

[10, 20, 30, 40]

### **extend**
リストの最後尾に指定したリストの要素を付け加えます。<br>

---
```Python
リスト.extend(追加するリスト) 
```
---

In [36]:
ln = [10, 20, 30, 40, 50]
ln.extend([200, 300, 400, 200]) # ln + [200, 300, 400, 200]と同じ
ln

[10, 20, 30, 40, 50, 200, 300, 400, 200]

### **insert**
リストのインデックスを指定した位置に新しい要素を挿入します。<br>

---
```Python
リスト.insert(インデックス, 新しい要素)
```
---

In [37]:
ln = [10, 20, 30, 40, 50]
ln.insert(1, 1000)
ln

[10, 1000, 20, 30, 40, 50]

### **remove**
指定した要素をリストから削除します。<br>

---
```Python
リスト.remove(削除したい要素)
```
---

ただし、指定した要素が複数個リストに含まれる場合、一番最初の要素が削除されます。また、指定した値がリストに含まれない場合はエラーが出ます。

In [38]:
ln = [10, 20, 30, 40, 20] 
ln.remove(30) # 指定した要素を削除
ln

[10, 20, 40, 20]

In [39]:
ln.remove(20) # 指定した要素が複数個リストに含まれる場合、一番最初の要素を削除
ln

[10, 40, 20]

In [40]:
ln.remove(100) # リストに含まれない値を指定するとエラー

ValueError: list.remove(x): x not in list

### **pop**
指定したインデックスの要素をリストから削除して返します。

---
```Python
リスト.pop(削除したい要素のインデックス)
```
---

In [41]:
ln = [10, 20, 20, 30, 20, 40]
print(ln.pop(3))
print(ln)

30
[10, 20, 20, 20, 40]

インデックスを指定しない場合、最後尾の要素を削除して返します。

---
```Python
リスト.pop()
```
---

In [42]:
ln = [10, 20, 30, 20, 40]
print(ln.pop())
print(ln)

40
[10, 20, 30, 20]

### **reverse**
リスト内の要素の順序を逆順にします。

In [43]:
ln = ['e', 'd', 'a', 'c', 'f', 'b']
ln.reverse()
ln

['b', 'f', 'c', 'a', 'd', 'e']

### **del**
`del` 文は指定するリストの要素を削除します。具体的には以下のように削除したい要素をインデックスで指定します。 `del` も破壊的であることに注意して下さい。

---
```Python
del リスト[x]
```
---

In [44]:
ln = [10, 20, 30, 40, 50]
del ln[1]
ln

[10, 30, 40, 50]

スライスを使うことも可能です。

---
```Python
del リスト[x:y]
```
---

In [45]:
ln = [10, 20, 30, 40, 50]
del ln[2:4]
ln

[10, 20, 50]

### **copy**
リストを複製します。複製をおこなったあとで、一方のリストに変更を加えたとしても、もう一方のリストは影響を受けません。

In [46]:
ln = [10, 20, 30, 40, 50]
ln2 = ln.copy()
del ln[1:3]
print(ln)
print(ln2)

[10, 40, 50]
[10, 20, 30, 40, 50]

一方、代入を用いた場合には影響を受けることに注意して下さい。

In [47]:
ln = [10, 20, 30, 40, 50]
ln2 = ln
del ln[1:3]
print(ln)
print(ln2)

[10, 40, 50]
[10, 40, 50]

メソッドや組み込み関数が破壊的であるかどうかは、一般にその名称などからは判断できません。それぞれ破壊的かどうか覚えておく必要があります。

## タプル

**タプル**は、リストと同じようにデータの並びであり、あらゆる種類のデータを要素とすることができます。
ただし、リストと違ってタプルは一度設定した要素を変更できません（文字列も同様でした）。
したがって、リストの項で説明したメソッドの多く、要素を操作するもの、は適用できません。

タプルを作成するには、次のように丸括弧で値をくくります。

In [48]:
tup1 = (1, 2, 3)
tup1

(1, 2, 3)

In [49]:
type(tup1)

tuple

実は、丸括弧なしでもタプルを作成することができます。

In [50]:
tup1 = 1,2,3
tup1

(1, 2, 3)

要素が1つだけの場合は、 `t = (1)` ではなく、次のようにします。

In [51]:
tup1 = (1,)
tup1

(1,)

`t = (1)` だと、`t = 1` と同じです。

In [52]:
tup1 = (1)
tup1

1

リストや文字列と類似した操作が可能です。

In [53]:
tup1 = (1, 2, 3, 4, 5)
tup1[1] # インデックスの指定による値の取得

2

In [54]:
len(tup1) # lenはタプルを構成する要素の数

5

In [55]:
tup1[2:5] # スライス

(3, 4, 5)

**多重代入**も可能です。

In [56]:
tup1 = (1, 2, 3)
(x,y,z) = tup1 
y

2

これは次の様に記述することもできます。

In [57]:
x,y,z = tup1
print(y)
(x,y,z) = (1, 2, 3)
print(y)
x,y,z = (1, 2, 3)
print(y)
(x,y,z) = 1, 2, 3
print(y)
x,y,z = 1, 2, 3
print(y)

2
2
2
2
2

多重代入を使うことで、2つの変数に格納された値の入れ替えを行う手続きはしばしば用いられます。

In [58]:
x = "apple"
y = "pen"
x, y = y, x 
print(x, y) #w = x; x = y; y = w と同じ結果が得られる

pen apple

上述しましたが、一度作成したタプルの要素を後から変更することはできません。

In [59]:
tup1[1] = 5

TypeError: 'tuple' object does not support item assignment

組み込み関数 **`list`** を使って、タプルをリストに変換できます。

In [60]:
list(tup1)

[1, 2, 3]

組み込み関数 **`tuple`** を使って、逆にリストをタプルに変換できます。

In [61]:
ls = [1, 2]
tuple(ls)

(1, 2)

## リストやタプルの比較演算
数値などを比較するのに用いた比較演算子を用いて、2つのリストやタプルを比較することもできます。

In [62]:
print([1, 2, 3] == [1, 2, 3])
print([1, 2] == [1, 2, 3])

True
False

In [63]:
print((1, 2, 3) == (1, 2, 3))
print((1, 2) == (1, 2, 3))

True
False

In [64]:
print([1, 2, 3] != [1, 2, 3])
print([1, 2] != [1, 2, 3])

False
True

In [65]:
print((1, 2, 3) != (1, 2, 3))
print((1, 2) != (1, 2, 3))

False
True

In [66]:
print([1, 2, 3] <= [1, 2, 3])
print([1, 2, 3] < [1, 2, 3])
print([1, 2] < [1, 2, 3])

True
False
True

In [67]:
print((1, 2, 3) <= (1, 2, 3))
print((1, 2, 3) < (1, 2, 3))
print((1, 2) < (1, 2, 3))

True
False
True

## 比較演算子 `==`, `!=` と `is`, `is not`

先に紹介した比較演算子と似た機能の演算子として、`is` および `is not` があります。
比較演算子 `==` あるいは `!=` は左辺と右辺のオブジェクトの中身が、それぞれ等しいあるいは等しくないかを判定します。
一方、`is` および `is not` は左辺と右辺のオブジェクトそのものが、等しいあるいはそうではないかを判定します。
オブジェクトの詳細は 6-1 オブジェクト指向の回で説明します。

これらの違いをリストを使って説明します。

リスト `a` を作成、それを `b` に代入します。`b` の中身はもちろん `a` と同じです。

In [68]:
a = [1, 2, 3]
b = a
print(b)
print(a == b)

[1, 2, 3]
True

`is` 演算子で `a`,`b` を比較すると `True`、すなわち同じオブジェクトであることがわかります。
念のためオブジェクトの識別子を得る組み込み関数 `id` の結果も併せて示します。

In [69]:
print(a is b)
print(id(a), id(b))

True
2209858747144 2209858747144

リスト `a` と同じ中身のリスト `c` を作って比較してみます。
（組み込み関数 `list` は新しいリストを作成します。）  
`==` 演算子による比較結果は `True` にもかかわらず、`is` 演算子の結果は `False` となります。もちろん `id` の結果も異なります。

In [70]:
c = list(a)
print(c)
print(a == c)
print(a is c)
print(id(a), id(c))

[1, 2, 3]
True
False
2209858747144 2209858521800

## for文による繰り返しとリスト、タプル

きまった操作の繰り返しはコンピュータが最も得意とする処理のひとつです。
リストのそれぞれの要素にわたって操作を繰り返したい場合は **for** 文を用います。

リスト `ls` の要素すべてに対して、`実行文`を繰り返すには次のように書きます。

---
```Python
for value in ls:
    実行文
```
---

for行の `in` 演算子の右辺に処理対象となるリスト `ls`が、左辺に変数 `value`が書かれます。  
`ls` の要素は最初、すなわち `ls[0]`から、一つづつ `value` に代入され、`実行文`の処理を開始します。  
`実行文`の処理が終われば、`ls` の次の要素が`value` に代入され、処理を繰り返します。  
`ls` の要素がなくなる、すなわち `len(ls)` 回、繰り返せば for文の処理を終了します。　　

ここで、`in` 演算子の働きは、先に説明したリスト要素の有無を検査する `in` とは働きが異なることに、
そして、if文と同様、 `実行文` の前にはスペースが必要であることに注意して下さい。

次に具体例を示します。
実行文では 3 つの要素を持つリスト `ls` から一つづつ要素を取り出し、変数 `value` に代入しています。
実行文では `vbalue` を用いて取り出した要素にアクセスしています。

In [71]:
ls = [0,1,2]

for value in ls:
    print("For loop:", value)

For loop: 0
For loop: 1
For loop: 2

`in` の後に直接リストを記述することもできます。

In [72]:
for value in  [0,1,2]:
    print("For loop:", value)

For loop: 0
For loop: 1
For loop: 2

`実行文` の前にスペースがないとエラーが出ます。

In [73]:
for value in  [0,1,2]:
print("For loop:", value)

IndentationError: expected an indented block (<ipython-input-73-5c8de952c2cc>, line 2)

エラーが出れば意図した通りにプログラムが組めていないのにすぐ気が付きますが、エラーが出ないために意図したプログラムが組めていないことに気が付かないことがあります。例えば、次の様な内容を実行しようとしていたとします。

In [74]:
for value in  [0,1,2]:
    print("During for loop:", value)
    print("During for loop, too:", value)

During for loop: 0
During for loop, too: 0
During for loop: 1
During for loop, too: 1
During for loop: 2
During for loop, too: 2

後者のprintの行のスペースの数が間違ってると、次の様な結果になる場合がありますので注意して下さい。

In [75]:
for value in  [0,1,2]:
    print("During for loop:", value)
print("During for loop, too:", value) #この行のスペースの数が間違っていたがエラーは出ない

During for loop: 0
During for loop: 1
During for loop: 2
During for loop, too: 2

タプルの要素にまたがる処理もリストと同様におこなえます。

In [76]:
for value in  (0,1,2):
    print("For loop:", value)

For loop: 0
For loop: 1
For loop: 2

##  for文による繰り返しと文字列

for文を使うと文字列全体にまたがる処理も可能です。  
文字列 `str1` をまたがって一文字ずつの繰り返し処理をおこなう場合は次のように書きます。  
ここで、`c` にはとりだされた一文字（の文字列）が代入されています。

---
```Python
for c in str1:
    実行文
```
---

`str1` で与えられる文字列を一文字ずつ大文字で出力する処理は以下のようになります。

In [77]:
str1 = "Apple and pen"
for c in str1:
    print(c.upper())

A
P
P
L
E

A
N
D

P
E
N

## 練習
整数の要素からなるリスト `ln` を引数として取り、`ln` の要素の総和を返す関数 `sum_list` を作成して下さい。

以下のセルの `...` のところを書き換えて `sum_list(ln)` を作成して下さい。（練習の正解はノートの一番最後にあります。）

In [81]:
def sum_list(ln):
    sum = 0
    for i in ln:
        sum = sum + i
    return sum

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て True になることを確認して下さい。

In [82]:
print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

## 練習
整数の要素からなるリスト `ln` を引数として取り、`ln` に含まれる要素を逆順に格納したタプルを返す関数 `reverse_totuple` を作成して下さい。

以下のセルの `...` のところを書き換えて `reverse_totuple(ln)` を作成して下さい。

In [94]:
def reverse_totuple(ln):
    ln.reverse()
    tup = tuple(ln)
    return tup

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認して下さい。

In [95]:
print(reverse_totuple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

## 練習
リスト `ln` を引数として取り、`ln` の偶数番目のインデックスの値を削除したリストを返す関数 `remove_eveneindex` を作成して下さい（ただし、0は偶数として扱うものとします）。

以下のセルの `...` のところを書き換えて `remove_evenindex(ln)` を作成して下さい。

In [96]:
def remove_evenindex(ln): #解答例と違う！！
    del ln[0: :2]
    return ln

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て `True` になることを確認して下さい。

In [97]:
print(remove_evenindex(["a", "b", "c", "d", "e", "f", "g"]) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

## 練習

ATGCの4種類の文字から成る文字列 `str_atgc` が引数として与えられたとき、次の様なリスト `list_count` を返す関数 `atgc_countlist` を作成して下さい。ただし、 `list_count` の要素は、各塩基 `bp` に対して `str_atgc` 中の `bp` の出現回数と `bp` の名前を格納したリストとします。

以下のセルの `...` のところを書き換えて `atgc_countlist(str_atgc)` を作成して下さい。

In [100]:
def atgc_countlist(str_atgc): #難しかった
    list_bp = ['A', 'T', 'G', 'C']
    list_count = []
    for value in list_bp:
        bpcount = str_atgc.count(value)
        list_count.append([bpcount, value])
    return list_count

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認して下さい。

In [101]:
print(sorted(atgc_countlist("AAGCCCCATGGTAA")) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

## 練習

英語の１文からなる文字列 `str_engsentence` が引数として与えられたとき、`str_engsentence` 中に含まれる単語数を返す関数 `count_words` を作成して下さい。ただし、文はピリオドで終了し単語は空白で区切られるものとします。

以下のセルの `...` のところを書き換えて `count_words(str_engsentence)` を作成して下さい。

In [122]:
def count_words(str_engsentence):
    list_str = str_engsentence.split(' ') #splitで文字列を分割してリストに入れられる！
    return len(list_str)

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認して下さい。

In [123]:
print(count_words("From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.") == 18)

True

## 練習

文字列 `str1` が引数として与えられたとき、 `str1` を反転させた文字列を返す関数 `reverse_string` を作成して下さい。

以下のセルの `...` のところを書き換えて `reverse_string(str1)` を作成して下さい。

In [127]:
def reverse_string(str1): #2-1の復習、地味に難しかった
    return str1[::-1]

上のセルで解答を作成した後、以下のセルを実行し、実行結果が `True` になることを確認して下さい。

In [128]:
print(reverse_string("No lemon, No melon") == "nolem oN ,nomel oN")

True

## 練習の解答

In [ ]:
def sum_list(ln):
    int_sum = 0
    for value in ln:
        int_sum += value
    return int_sum
#sum_list([10, 20, 30])

In [ ]:
def reverse_totuple(ln):
    ln.reverse()
    tup = tuple(ln)
    return tup
#reverse_totuple([1, 2, 3, 4, 5])

In [ ]:
def remove_evenindex(ln):
    ln2 = ln[1::2]
    return ln2
#remove_evenindex(["a", "b", "c", "d", "e", "f", "g"])

In [ ]:
def atgc_countlist(str_atgc):
    lst_bpname = ["A", "T", "G", "C"]
    list_count = []
    for value in lst_bpname:
        int_bpcnt = str_atgc.count(value)
        list_count.append([int_bpcnt, value])
    return list_count
#atgc_countlist("AAGCCCCATGGTAA")

In [ ]:
def count_words(str_engsentences):
    list_str1 = str_engsentences.split(" ")
    return len(list_str1)
#count_words("From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.")

In [ ]:
def reverse_string(str1):
    return str1[::-1]
#reverse_string("No lemon, No melon")

#別解
#def reverse_string(str1):
#    ln1 = list(str1)
#    ln1.reverse()
#    str2 = "".join(ln1)
#    return str2
#reverse_string("No lemon, No melon")